html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Microsoft YaHei";
  text-align: start;
}
div,
a,
li,
ul,
img,
i,
button,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  outline: none;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
  text-align: start;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.inline-block {
  display: inline-block;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear::after {
  display: block;
  content: '';
  clear: both;
}
.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: normal;
}
.flex-spacer {
  flex: 1 !important;
}
.text-overflow-mult {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 50px;
}
.transition {
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1), color 2s, background 2s;
  -moz-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1), color 2s, background 2s;
  -webkit-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1), color 2s, background 2s;
  -o-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1), color 2s, background 2s;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  background: rgba(0, 0, 0, 0);
}
.upload__btn--sure {
  border-color: #ff4b57;
  background-color: #ff4b57;
  color: #fff;
}
.upload__btn--sure:hover {
  border-color: #c6e2ff;
  background-color: #c6e2ff;
  color: #333;
}
/* .upload-img__btn--cancel {
  // ..
} */
.success-btn {
  color: #fff;
  background: #ff4b57;
}
.icon-btn {
  cursor: pointer;
}
.theme-color {
  color: #ff4b57;
}
.sub-nav.not-border {
  padding: 0 !important;
  height: 45px !important;
}
.sub-nav.not-border .sub-nav__item {
  margin-right: 0 !important;
  padding: 0 50px !important;
  border: none !important;
  border-left: 1px solid #363f51 !important;
}
.sub-nav.not-border .sub-nav__item:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0) !important;
}
.el-input.focus-border {
  height: 30px;
  width: 60px !important;
}
.el-input.focus-border input {
  height: 100%;
  border: none;
  background-color: unset;
}
.el-input.focus-border input:focus {
  border: 1px solid #DCDFE6;
  background-color: #fff;
}
.ssxd-body {
  margin-bottom: 13px;
}
.ssxd-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.ssxd-form .ssxd-form-item {
  line-height: 40px;
}
.ssxd-form .ssxd-form-item .ssxd-form--label {
  font-size: 15px;
  margin-right: 20px;
}
.ssxd-form .ssxd-form-item .ssxd-form--radio {
  margin-right: 90px;
}
.ssxd-form .ssxd-form-item .ssxd-form--input {
  width: 190px;
}
.ssxd-form .ssxd-form-item .ssxd-form--btn {
  display: inline-block;
  float: right;
}
.spgl-item {
  background-color: #fff;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
.spgl-item--title {
  height: 63px;
  line-height: 63px;
  border-radius: 4px 4px 0 0;
  padding: 0 21px;
  background-color: #F7F8F9;
  font-size: 18px;
}
.ssxd-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 119px;
  box-sizing: border-box;
  padding-right: 30px;
  padding-left: 14px;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 10px;
}
.grid-row-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0 20px;
}
.grid-row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.commom-card {
  background-color: #fff;
  border-radius: 6px;
}
.flex-item-center {
  display: flex;
  align-items: center;
}
.theme-color {
  color: #FF4B57;
}
.new-point {
  position: relative;
}
.new-point::after {
  content: '';
  height: 7px;
  width: 7px;
  background-color: #FF4B57;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
}
