.shgl {
    .gross {
        .commom-card {
            height: 80px;
            padding: 7px;
            .name {
                height: 100%;
                width: 50%;
                float: left;
                background-color: #F7F8F9;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .value {
                float: right;
                height: 100%;
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 30px;
                font-weight: bold;
                color: #FF4B57;
            }
        }
    }
    .data-list {
        margin-top: 10px;
        .tab-model {
            position: relative;
            .btn-wrap {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                padding-right: 30px;
                display: flex;
                align-items: center;
                z-index: 2;
            }
        }
        .con-icon {
            display: inline-block;
            padding: 5px;
            cursor: pointer;
        }
    }
    .ssxd-footer {
        height: 85px;
    }
    .manage {
        margin-top: 10px;
        .spgl-item--title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .spgl-item--content {
            // padding: 0 45px;
            justify-content: space-between;
            .setItem {
                height: 73px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 30px;
                border-bottom: 1px solid #EAECED;
                .icon {
                    cursor: pointer;
                }
                &:last-child {
                    border-bottom: 1px solid rgab(0,0,0,0);
                }
            }
        }
        &.grid-row-2-1 {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: 0 20px;
        }
    }
}